<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>

<%= form_with Comment.new, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :body, value: 'Comment'  %>
  <%= form.text_field :body %>
  <%= form.submit %>
<% end %>
